@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow {
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));
}

@layer utilities {
  .animated {
    @apply transition-all duration-200;
  }
  @variants hover {
    .scale-108 {
      transform: scale(1.08);
    }
  }
}

.card {
  height: 35rem;
  hyphens: auto;
}
@screen md {
  .card {
    height: 30rem;
  }
}
@screen 2xl {
  .card {
    height: 40rem;
  }
}

p {
  @apply my-2;
}

p:first-of-type {
  @apply mt-0;
}

p:last-of-type {
  @apply mb-0;
}


@import "./svg.css";
@import "./fonts.css";
